<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
        <%= f.label :名前,class: "col-xs-3" %>
        (姓)<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        (名)<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

<div class="field">
        <%= f.label :フリガナ,class: "col-xs-3" %>
        (セイ)<%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
        (メイ)<%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
  </div>

 <div class="field">
        <%= f.label :メールアドレス ,class: "col-xs-3"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
      </div><br>

<div class="field">
        <%= f.label :郵便番号（ハイフンなし） ,class: "col-xs-3"%>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code"%>
      </div><br>

 <div class="field">
        <%= f.label :住所 ,class: "col-xs-3"%>
        <%= f.text_field :address, autofocus: true, autocomplete: "address" ,size: "50"%>
      </div><br>

<div class="field">
        <%= f.label :電話番号（ハイフンなし） ,class: "col-xs-3"%>
        <%= f.text_field :telephone_number, autofocus: true, autocomplete: "phone_number"%>
      </div><br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

既に登録済みの方

<%= link_to "こちら", new_session_path(resource_name) %><span>からログインしてください。</span>
